* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300px;
}

body {
  width: 960px;
  margin: 0 auto;
}

.front-image {
  background-image: url(images/coffee7.jpg);
  width: auto;
  height: 100vh;
  color: white;
}

.front-image1 {
  background-image: url(images/Coffee-Bar.jpg);
  width: auto;
  height: 100vh;
}

.front-image1 h1 {
  padding-top: 7%;
  margin: auto;
  margin-left: 15%;
  color: white;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  font-family: cursive;
}

.p {
  color: aliceblue;
}

.front-image h1 {
  padding-top: 7%;
  margin: auto;
  margin-left: 15%;
  color: brown;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  font-family: cursive;
}

.front-image a {
  margin-left: 15%;
}

.btn {
  display: inline-block;
  padding: 7px 40px;
  font-family: fantasy;
  text-decoration: none;
  font-weight: 300px;
  border: white solid 2px;
  border-radius: 200px;
  margin-top: 50px;
  transition: background-color 0.2s, border 0.2s color 0.2s;
}

.front-image2 {
  background-image: url(images/coffee-pastry.jpg);
  width: auto;
  height: 100vh;
}

.btn:hover,
.btn:active {
  background-color: tomato;
}

.btn-1 {
  background-color: brown;
  color: white;
}

.btn-2 {
  color: white;
  background-color: brown;
}

.link {
  display: flex;
}

.logo-nav .logo {
  height: 200px;
  width: auto;
}

.link {
  display: flex;
  list-style: none;
}

.link a {
  margin: 30px;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 200px;
  border: 2px tomato solid;
  color: white;
  background-color: brown;
  font-family: initial;
  text-decoration: none;
}

.front-image5 {
  background-image: url(images/new1.jpg);
}

.link:hover,
.btn:active {
  background-color: tomato;
}

.mult-img3 {
  width: 100%;
  display: flex;
}

.mult-img img {
  width: 50%;
}

.multi-img img {
  width: 10%;
  display: flex;
}

.about-img {
  width: 100%;
  display: flex;
}

.about-img img {
  width: 70%;
}

.operate1 {
  margin-top: 100px;
}

.footer {
  background-color: black;
  height: 100px;
  color: white;
}

.footer nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.footer nav ul li {
  margin-right: 50px;
  margin-top: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 45px;
}

.footerp {
  margin-top: 30px;
  text-align: center;
}

.footer nav ul li a {
  text-align: center;
}

.table {
  border: black 1px solid;
}
